<div class="h-full flex flex-col">
  <div class="flex flex-1 overflow-hidden">
    <div class="w-1/6 p-4 rounded-lg border-solid border-2">
      <!-- 用户信息 -->
      <div class="flex items-center mb-4">
        <img src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="Avatar" class="w-8 h-8 rounded-full mr-2">
        <h3 class="font-bold" id="userNm">{{ userNm }}</h3>
      </div>
      <!-- 聊天联系人列表 -->
      <div class="flex flex-col space-y-2" id="contactsList">
        @for (item of contactsList; track $index) {
          <div class="bg-gray-100 flex items-center p-2 rounded-lg cursor-pointer border-2" id="contact{{ $index }}" (click)="changeTab($index)">
            <img src="https://via.placeholder.com/50/f60/fff?text=AI" alt="Avatar" class="w-8 h-8 rounded-full mr-2">
            <div class="overflow-hidden">
                <div class="group/item hover:bg-slate-100">
                  <span class="font-bold" contentEditable="false" id="contactNm{{ $index }}" (blur)="editContactNm($index)">{{ item.userNm }}</span>
                  <span class="text-right group/edit invisible hover:bg-slate-200 group-hover/item:visible" (click)="editContactNm($index)" id="contactEe{{ $index }}">✍</span>
                </div>
                <p class="text-gray-500 text-sm whitespace-nowrap">{{ item.lastMsg }}</p>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="flex-1 p-4">
      @if (current_chat_id) {
        <!-- 聊天标题栏 -->
        <div class="flex items-center mb-4">
          <img src="https://via.placeholder.com/50/f60/fff?text=AI" alt="Avatar" class="w-8 h-8 rounded-full mr-2">
          <div>
            <h3 class="font-bold">{{ current_user_nm }}</h3>
            <p class="text-gray-500 text-sm">💚Online</p>
          </div>
        </div>
        <!-- 聊天消息列表 -->
        <div #scrollMe class="flex flex-col space-y-4 h-5/6 overflow-auto scroll-smooth scroll-top p-4" id="messageList">
          @for (item of messageList; track $index) {
            @if (item.message_q) {
              <div class="flex justify-end items-center">
                <div class="bg-blue-600 text-white p-2 rounded-lg ml-24">
                  <p>{{ item.message_q }}</p>
                </div>
                <img src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="Avatar" class="w-8 h-8 rounded-full ml-2">
              </div>
            }
            @if (item.message_a) {
              <div class="flex items-center">
                <img src="https://via.placeholder.com/50/f60/fff?text=AI" alt="Avatar" class="w-8 h-8 rounded-full mr-2">
                  <div class="bg-white text-gray-600 p-2 rounded-lg mr-24">
                    <p>{{ item.message_a }}</p>
                  </div>
              </div>
            }
          }
        </div>
        <!-- 聊天消息输入框 -->
        <div class="flex items-center mt-4 fixed bottom-20 w-3/5">
          <textarea placeholder="Type your message..." class="w-full border-gray-300 border rounded-lg py-2 px-4 mr-2 resize-none" [(ngModel)]="sendInput" id="sendInput" (keydown)="sendOrLine($event)"></textarea>
          <button class="bg-blue-600 text-white py-2 px-4 rounded-lg disabled:opacity-50 hover:bg-blue-800" (click)="send()" id="send" [disabled]="!sendInput">
            <span *ngIf="!isLoading">Send</span>
            <span *ngIf="isLoading">...</span>
          </button>
          <button class="bg-red-500 text-white py-2 px-4 ml-2 rounded-lg" (click)="interrupt()" id="interrupt">Interrupt</button>
          <button class="bg-green-500 text-white py-2 px-4 ml-2 rounded-lg" (click)="newChats()" id="newChats">New</button>
        </div>
      }
      @else {
        <div class="w-full px-2 py-6 text-center">
          <span class="text-gray-500 text-2xl whitespace-nowrap">暂无聊天记录，点击左侧对话者，开始聊天！</span>
        </div>
      }
    </div>
  </div>
</div>