<div class="h-full flex flex-col">
  <div class="flex flex-1 overflow-hidden">
    <div class="w-1/6 p-4 rounded-lg border-solid border-2">
      <!-- 用户信息 -->
      <div class="flex items-center mb-4">
        <img src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="Avatar" class="w-8 h-8 rounded-full mr-2">
        <h3 class="font-bold" id="userNm">{{ userNm }}</h3>
      </div>
      <!-- 聊天联系人列表 -->
      <div class="flex flex-col space-y-2" id="contactsList">
        @for (item of contactsList; track $index) {
          <!-- <div class="flex items-center p-2 bg-gray-100 rounded-lg cursor-pointer" (click)="changeTab($index)"> -->
          <div class="flex items-center p-2 bg-gray-100 rounded-lg cursor-pointer">
            <img src="https://via.placeholder.com/50/f60/fff?text=AI" alt="Avatar" class="w-8 h-8 rounded-full mr-2">
            <div class="overflow-hidden">
              <h4 class="font-bold">{{ item.user_session_aka }}</h4>
              <p class="text-gray-500 text-sm whitespace-nowrap">{{ item.message }}</p>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="flex-1 p-4">
      <!-- 聊天标题栏 -->
      <div class="flex items-center mb-4">
        <img src="https://via.placeholder.com/50/f60/fff?text=AI" alt="Avatar" class="w-8 h-8 rounded-full mr-2">
        <div>
          <h3 class="font-bold">文心一言</h3>
          <p class="text-gray-500 text-sm">Online</p>
        </div>
      </div>
      <!-- 聊天消息列表 -->
      <div #scrollMe class="flex flex-col space-y-4 h-5/6 overflow-auto scroll-smooth scroll-top p-4" id="messageList">
        @for (item of messageList; track $index) {
          @if (item.user_cd === 'assistant') {
            <div class="flex items-center">
              <img src="https://via.placeholder.com/50/f60/fff?text=AI" alt="Avatar" class="w-8 h-8 rounded-full mr-2">
                <div class="bg-white text-gray-600 p-2 rounded-lg mr-24">
                  <p>{{ item.message }}</p>
                  <!-- <pre>
                    <code>{{ item.message }}</code>
                  </pre> -->
                </div>
            </div>
          }
          @else {
            <div class="flex justify-end items-center">
              <div class="bg-blue-600 text-white p-2 rounded-lg ml-24">
                <p>{{ item.message }}</p>
              </div>
              <img src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="Avatar" class="w-8 h-8 rounded-full ml-2">
            </div>
          }
        }
      </div>
      <!-- 聊天消息输入框 -->
      <!-- <div class="flex items-center mt-4 fixed bottom-20 w-3/5"> -->
      <div class="flex items-center mt-4 fixed bottom-20 w-3/5">
        <input type="text" placeholder="Type your message..." class="w-full border-gray-300 border rounded-lg py-2 px-4 mr-2" [(ngModel)]="sendInput" id="sendInput">
        <button class="bg-blue-600 text-white py-2 px-4 rounded-lg" (click)="send()" id="send">Send</button>
        <button class="bg-red-500 text-white py-2 px-4 ml-2 rounded-lg" id="interrupt">Interrupt</button>
        <button class="bg-green-500 text-white py-2 px-4 ml-2 rounded-lg" (click)="newChats()" id="newChats">New</button>
      </div>
    </div>
  </div>
</div>